/** ПОДУМАТЬ О БУРГЕРЕ */
.cardFlexContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

изменить тегм природы

* {
    padding: 0;
    margin: 0;
}

body {
    color: #1A1B22;
    margin: unset;
}

a {
    color: #1A1B22;
    text-decoration: unset;
}

li {
    display: inline-block;
}

.container {
    max-width: 1232px;
    margin:  0 auto;
}

/* Head */

header {
    height: 80px;
    padding: 0 7.22%;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #D1D2D6;
}

    .headerFlex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        width: 100%;
    }

    .logoFlex {
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height, or 120% */
        display: flex;
        align-items: center;
        /* main/primary */
        color: #1A1B22;
    }

    header nav {
        height: 100%;
        margin-left: auto;
    }

    header nav ul {
        height: 100%;
        margin: unset;
        padding: unset;
    }

    header nav ul li {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        height: 57%;
        margin-top: 19px;
    }

    header nav ul li.active {
        border-bottom: 2px solid #1A1B22;
    }

    header nav ul li:nth-child(2) {
        margin: 0 32px 0 34px;
    }

    header nav ul li:last-child {
        height: 48px;
        padding: 0 15px 0 19px;
        border: 1px solid #1A1B22;
        box-sizing: border-box;
        border-radius: 100px;
    }

    header nav ul li:last-child a p {
        width: 54px;
        display: inline-block;
        margin-top: 11px;
    }

    header nav ul li:last-child a img {
        margin-bottom: -7px;
    }

    .burger {
        display: none;
    }


/* Middle Section */

.middle p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    color: rgba(26, 27, 34, 0.5);
    margin-top: 40px;
}

.middle h1 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin-top: 28px;
}

.middle div {
    margin-top: 30px;
    margin-bottom: 56px;
}

/* Content Section */

.contentFlex {
    width: 100%;
    background: #F5F6F7;
    padding-top: 62px;
}

.cardFlexContainer {
    display: flex;
    flex-wrap: wrap;
    padding-left: auto;
    padding-bottom: 62px;
    align-items: center;
}

/* Card Section */

.card {

    width: 400px;
    max-width: 400px;
    min-height: 576px;
    margin-bottom: 16px;

    background: #FFFFFF;
    border-radius: 16px;

    position: relative;


}

.cardFlexContainer .card:nth-child(3n-1) {
    margin-left: 16px;
    margin-right: 16px;
}


    .image {
        max-width: 400px;
        max-height: 272px;
        border-radius: 16px 16px 0 0;
    }

    .nameOnCardFlex {
        display:flex;
        justify-content: space-between;
        position: absolute;
        left: 24px;
        top: 24px;
        right: 24px;
    }

    .categoryFlex {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 88px;
        background: #FFFFFF;
        border-radius: 10px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        /* identical to box height, or 171% */
        text-align: center;
        color: #000000;

    }

    .deleteFlex {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        border-radius: 10px;
        height: 40px;
        width: 40px;
    }

    .deleteFlex img {
        height: 24px;
        width: 24px;
    }

/* Text on cards Section */

.date {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    margin-top: 12px;
    margin-left: 24px;
    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    /* simulator/gray/text */
    color: #B6BCBF;
}

.title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    /* or 115% */
    /* main/primary */
    color: #1A1B22;
    margin-top: 12px;
    margin-left: 24px;
    margin-right: 24px;
}

.description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* or 137% */
    /* main/primary */
    color: #1A1B22;
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
}

.source {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    letter-spacing: 0.4px;
    text-transform: uppercase;
    /* simulator/gray/text */
    color: #B6BCBF;
    position: absolute;
    bottom: 24px;
    left: 24px;
}

.removeFromSavedInner{
    display: flex;
}

.blackDelete img {
    filter: brightness(0%)
}

.deleteCard {
    background: #FFFFFF;
    border-radius: 10px;
    height: 40px;
    width: 159px;
    margin-right: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: none;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.deleteCardFlag {
    display: flex;
}

/* Footer Section */

.footerText {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 137% */
    /* simulator/gray/text */
    color: #B6BCBF;
}
    .menuFlex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mainPageFlex {
        font-family: Roboto;
        display: flex;
        height: 80px;
        align-items: center;
        margin-right: 34px;
        font-family: Roboto;
        font-style: normal;
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        /* identical to box height, or 133% */
        text-align: center;
        /* main/primary */
        color: #1A1B22;
    }

    .savedFlex {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        height: 80px;
        /* identical to box height, or 133% */
        display: flex;
        align-items: center;
        text-align: center;
        margin-right: 32px;
        /* main/primary */
        color: #1A1B22;
    }

@media (max-width: 768px) {

    header {
        height: initial;
        padding-left: 16px;
    }

    .logoutFlex {
        font-size: initial;
        line-height: initial;
    }

    header nav {
        display: none;
    }

    .burger {
        display: initial;
        margin-left: auto;
    }

    .container .middle {
        padding-left: 16px;
    }

    .container p {
        font-size: 12px;
        line-height: 24px;
    }

    .container h1 {
        font-size: 30px;
        line-height: 34px;
    }

    .container div {
        font-size: 18px;
        line-height: 24px;
    }
    .cardFlexContainer .card:nth-child(1n-1) {
        margin-left: 0px;
    }

    .cardFlexContainer {
        width: initial;
        max-width: initial;
        min-height: initial;
        margin-bottom: 10px;
        padding-left: 16px;
    }

    .menuFlex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mainPageFlex {
        font-family: Roboto;
        display: flex;
        height: 80px;
        align-items: center;
        margin-right: 34px;
        font-family: Roboto;
        font-style: normal;
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        /* identical to box height, or 133% */
        text-align: center;
        /* main/primary */
        color: #1A1B22;
    }

    .savedFlex {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        height: 80px;
        /* identical to box height, or 133% */
        display: flex;
        align-items: center;
        text-align: center;
        margin-right: 32px;
        /* main/primary */
        color: #1A1B22;
    }

    .cardFlexContainer {
        height: initial;
        width: 100%;
    }

    .deleteCard {
        display: none;
    }

    .blackDelete img {
        filter: brightness(100%)
    }

    div .categoryFlex {
        font-size: 14px;
        line-height: 24px;
    }

    .mainPageFlex {
        display: flex;
        flex-wrap: wrap;

    }

    .savedFlex {
        display: flex;
        flex-wrap: wrap;
    }
}
